<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="esh-i14y-csv.ZPM">
    <Module>
      <Name>esh-i14y-csv</Name>
      <Description>A simple IRIS interoperability application - transforms csv data.</Description>
      <Version>1.0.6</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <!-- <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/> -->
      <Resource Name="esh.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
